body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.visual img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 120px 20px;
}
.article_first {
   margin: 0 100px; 
}
.article_second {
    margin: 120px 100px;
}
.article_third {
    margin: 120px 100px;
}